In [1]:
#Define Dependencies need to perfrom ETL
import pandas as pd
from sqlalchemy import create_engine
import pymysql
pymysql.install_as_MySQLdb()

In [2]:
#Extract the Olympic data on how athlete's performed
csv_file = "athlete_events.csv"
athlete_events_df = pd.read_csv(csv_file)
athlete_events_df.head()

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
0,1,A Dijiang,M,24.0,180.0,80.0,China,CHN,1992 Summer,1992,Summer,Barcelona,Basketball,Basketball Men's Basketball,NaN
1,2,A Lamusi,M,23.0,170.0,60.0,China,CHN,2012 Summer,2012,Summer,London,Judo,Judo Men's Extra-Lightweight,NaN
2,3,Gunnar Nielsen Aaby,M,24.0,NaN,NaN,Denmark,DEN,1920 Summer,1920,Summer,Antwerpen,Football,Football Men's Football,NaN
3,4,Edgar Lindenau Aabye,M,34.0,NaN,NaN,Denmark/Sweden,DEN,1900 Summer,1900,Summer,Paris,Tug-Of-War,Tug-Of-War Men's Tug-Of-War,Gold
4,5,Christine Jacoba Aaftink,F,21.0,185.0,82.0,Netherlands,NED,1988 Winter,1988,Winter,Calgary,Speed Skating,Speed Skating Women's 500 metres,NaN

In [3]:
# Check the column headers 
athlete_events_df.columns

Index(['ID', 'Name', 'Sex', 'Age', 'Height', 'Weight', 'Team', 'NOC', 'Games',
       'Year', 'Season', 'City', 'Sport', 'Event', 'Medal'],
      dtype='object')

In [4]:
# Extract related fields for analysis from olympic data
athlete_events_df = athlete_events_df[["Sex", "NOC", "Sport", "Medal"]].copy()
athlete_events_df.head()
# 27116 Rows

  Sex  NOC          Sport Medal
0   M  CHN     Basketball   NaN
1   M  CHN           Judo   NaN
2   M  DEN       Football   NaN
3   M  DEN     Tug-Of-War  Gold
4   F  NED  Speed Skating   NaN

In [5]:
#Extract regions key from NOC CSV

csv_file = "noc_regions.csv"
regions_df = pd.read_csv(csv_file)
regions_df = regions_df[["NOC", "region"]].copy()
regions_df.head()

   NOC       region
0  AFG  Afghanistan
1  AHO      Curacao
2  ALB      Albania
3  ALG      Algeria
4  AND      Andorra

In [6]:
# Merge the two DataFrames together for Olypmics Data 
# and a list of regions dfined by NOC

athlete_events_noc_df = pd.merge(athlete_events_df, regions_df, on="NOC")

athlete_events_noc_df.head(10)

  Sex  NOC                      Sport   Medal region
0   M  CHN                 Basketball     NaN  China
1   M  CHN                       Judo     NaN  China
2   M  CHN                     Boxing     NaN  China
3   M  CHN                  Wrestling     NaN  China
4   F  CHN                   Swimming     NaN  China
5   F  CHN                   Swimming     NaN  China
6   M  CHN              Speed Skating     NaN  China
7   M  CHN              Speed Skating     NaN  China
8   M  CHN  Short Track Speed Skating  Silver  China
9   M  CHN  Short Track Speed Skating     NaN  China

In [7]:
# Rename Regions to Country to match GDP data for later merging on
athlete_events_noc_df = athlete_events_noc_df.rename(columns={"region":"Country"})
athlete_events_noc_df.head(10)

  Sex  NOC                      Sport   Medal Country
0   M  CHN                 Basketball     NaN   China
1   M  CHN                       Judo     NaN   China
2   M  CHN                     Boxing     NaN   China
3   M  CHN                  Wrestling     NaN   China
4   F  CHN                   Swimming     NaN   China
5   F  CHN                   Swimming     NaN   China
6   M  CHN              Speed Skating     NaN   China
7   M  CHN              Speed Skating     NaN   China
8   M  CHN  Short Track Speed Skating  Silver   China
9   M  CHN  Short Track Speed Skating     NaN   China

In [8]:
athlete_events_noc_df.count()

Sex        270767
NOC        270767
Sport      270767
Medal       39774
Country    270746
dtype: int64

In [9]:
# Extract the GDP Data from csv

csv_file = "countries of the world.csv"
countries_df = pd.read_csv(csv_file)
countries_df.head(227)

,Country,Region,Population,Area (sq. mi.),Pop. Density (per sq. mi.),Coastline (coast/area ratio),Net migration,Infant mortality (per 1000 births),GDP ($ per capita),Literacy (%),Phones (per 1000),Arable (%),Crops (%),Other (%),Climate,Birthrate,Deathrate,Agriculture,Industry,Service
0,Afghanistan,ASIA (EX. NEAR EAST),31056997,647500,"48,0","0,00","23,06","163,07",700.0,"36,0","3,2","12,13","0,22","87,65",1,"46,6","20,34","0,38","0,24","0,38"
1,Albania,EASTERN EUROPE,3581655,28748,"124,6","1,26","-4,93","21,52",4500.0,"86,5","71,2","21,09","4,42","74,49",3,"15,11","5,22","0,232","0,188","0,579"
2,Algeria,NORTHERN AFRICA,32930091,2381740,"13,8","0,04","-0,39",31,6000.0,"70,0","78,1","3,22","0,25","96,53",1,"17,14","4,61","0,101","0,6","0,298"
3,American Samoa,OCEANIA,57794,199,"290,4","58,29","-20,71","9,27",8000.0,"97,0","259,5",10,15,75,2,"22,46","3,27",NaN,NaN,NaN
4,Andorra,WESTERN EUROPE,71201,468,"152,1","0,00","6,6","4,05",19000.0,"100,0","497,2","2,22",0,"97,78",3,"8,71","6,25",NaN,NaN,NaN
5,Angola,SUB-SAHARAN AFRICA,12127071,1246700,"9,7","0,13",0,"191,19",1900.0,"42,0","7,8","2,41","0,24","97,35",NaN,"45,11","24,2","0,096","0,658","0,246"
6,Anguilla,LATIN AMER. & CARIB,13477,102,"132,1","59,80","10,76","21,03",8600.0,"95,0","460,0",0,0,100,2,"14,17","5,34","0,04","0,18","0,78"
7,Antigua & Barbuda,LATIN AMER. & CARIB,69108,443,"156,0","34,54","-6,15","19,46",11000.0,"89,0","549,9","18,18","4,55","77,27",2,"16,93","5,37","0,038","0,22","0,743"
8,Argentina,LATIN AMER. & CARIB,39921833,2766890,"14,4","0,18","0,61","15,18",11200.0,"97,1","220,4","12,31","0,48","87,21",3,"16,73","7,55","0,095","0,358","0,547"
9,Armenia,C.W. OF IND. STATES,2976372,29800,"99,9","0,00","-6,47","23,28",3500.0,"98,6","195,7","17,55","2,3","80,15",4,"12,07","8,23","0,239","0,343","0,418"
10,Aruba,LATIN AMER. & CARIB,71891,193,"372,5","35,49",0,"5,89",28000.0,"97,0","516,1","10,53",0,"89,47",2,"11,03","6,68","0,004","0,333","0,663"
11,Australia,OCEANIA,20264082,7686850,"2,6","0,34","3,98","4,69",29000.0,"100,0","565,5","6,55","0,04","93,41",1,"12,14","7,51","0,038","0,262","0,7"
12,Austria,WESTERN EUROPE,8192880,83870,"97,7","0,00",2,"4,66",30000.0,"98,0","452,2","16,91","0,86","82,23",3,"8,74","9,76","0,018","0,304","0,678"
13,Azerbaijan,C.W. OF IND. STATES,7961619,86600,"91,9","0,00","-4,9","81,74",3400.0,"97,0","137,1","19,63","2,71","77,66",1,"20,74","9,75","0,141","0,457","0,402"
14,"Bahamas, The",LATIN AMER. & CARIB,303770,13940,"21,8","25,41","-2,2","25,21",16700.0,"95,6","460,6","0,8","0,4","98,8",2,"17,57","9,05","0,03","0,07","0,9"
15,Bahrain,NEAR EAST,698585,665,"1050,5","24,21","1,05","17,27",16900.0,"89,1","281,3","2,82","5,63","91,55",1,"17,8","4,14","0,005","0,387","0,608"
16,Bangladesh,ASIA (EX. NEAR EAST),147365352,144000,"1023,4","0,40","-0,71","62,6",1900.0,"43,1","7,3","62,11","3,07","34,82",2,"29,8","8,27","0,199","0,198","0,603"
17,Barbados,LATIN AMER. & CARIB,279912,431,"649,5","22,51","-0,31","12,5",15700.0,"97,4","481,9","37,21","2,33","60,46",2,"12,71","8,67","0,06","0,16","0,78"
18,Belarus,C.W. OF IND. STATES,10293011,207600,"49,6","0,00","2,54","13,37",6100.0,"99,6","319,1","29,55","0,6","69,85",4,"11,16","14,02","0,093","0,316","0,591"
19,Belgium,WESTERN EUROPE,10379067,30528,"340,0","0,22","1,23","4,68",29100.0,"98,0","462,6","23,28","0,4","76,32",3,"10,38","10,27","0,01","0,24","0,749"
20,Belize,LATIN AMER. & CARIB,287730,22966,"12,5","1,68",0,"25,69",4900.0,"94,1","115,7","2,85","1,71","95,44",2,"28,84","5,72","0,142","0,152","0,612"
21,Benin,SUB-SAHARAN AFRICA,7862944,112620,"69,8","0,11",0,85,1100.0,"40,9","9,7","18,08","2,4","79,52",2,"38,85","12,22","0,316","0,138","0,546"
22,Bermuda,NORTHERN AMERICA,65773,53,"1241,0","194,34","2,49","8,53",36000.0,"98,0","851,4",20,0,80,2,"11,4","7,74","0,01","0,1","0,89"
23,Bhutan,ASIA (EX. NEAR EAST),2279723,47000,"48,5","0,00",0,"100,44",1300.0,"42,2","14,3","3,09","0,43","96,48",2,"33,65","12,7","0,258","0,379","0,363"
24,Bolivia,LATIN AMER. & CARIB,8989046,1098580,"8,2","0,00","-1,32","53,11",2400.0,"87,2","71,9","2,67","0,19","97,14","1,5","23,3","7,53","0,128","0,352","0,52"
25,Bosnia & Herzegovina,EASTERN EUROPE,4498976,51129,"88,0","0,04","0,31","21,05",6100.0,NaN,"215,4","13,6","2,96","83,44",4,"8,77","8,27","0,142","0,308","0,55"
26,Botswana,SUB-SAHARAN AFRICA,1639833,600370,"2,7","0,00",0,"54,58",9000.0,"79,8","80,5","0,65","0,01","99,34",1,"23,08","29,5","0,024","0,469","0,507"
27,Brazil,LATIN AMER. & CARIB,188078227,8511965,"22,1","0,09","-0,03","29,61",7600.0,"86,4","225,3","6,96","0,9","92,15",2,"16,56","6,17","0,084","0,4","0,516"
28,British Virgin Is.,LATIN AMER. & CARIB,23098,153,"151,0","52,29","10,01","18,05",16000.0,"97,8","506,5",20,"6,67","73,33",2,"14,89","4,42","0,018","0,062","0,92"
29,Brunei,ASIA (EX. NEAR EAST),379444,5770,"65,8","2,79","3,59","12,61",18600.0,"93,9","237,2","0,57","0,76","98,67",2,"18,79","3,45","0,036","0,561","0,403"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
197,Syria,NEAR EAST,18881361,185180,"102,0","0,10",0,"29,53",3300.0,"76,9","153,8","25,22","4,43","70,35",1,"27,76","4,81","0,249","0,23","0,519"
198,Taiwan,ASIA (EX. NEAR EAST),23036087,35980,"640,3","4,35",0,"6,4",23400.0,"96,1","591,0",24,1,75,2,"12,56","6,48","0,018","0,259","0,723"
199,Tajikistan,C.W. OF IND. STATES,7320815,143100,"51,2","0,00","-2,86","110,76",1000.0,"99,4","33,5","6,61","0,92","92,47",2,"32,65","8,25","0,234","0,286","0,48"
200,Tanzania,SUB-SAHARAN AFRICA,37445392,945087,"39,6","0,15","-2,06","98,54",600.0,"78,2","4,0","4,52","1,08","94,4",NaN,"37,71","16,39","0,432","0,172","0,396"
201,Thailand,ASIA (EX. NEAR EAST),64631595,514000,"125,7","0,63",0,"20,48",7400.0,"92,6","108,9","29,36","6,46","64,18",2,"13,87","7,04","0,099","0,441","0,46"
202,Togo,SUB-SAHARAN AFRICA,5548702,56785,"97,7","0,10",0,"66,61",1500.0,"60,9","10,6","46,15","2,21","51,64",2,"37,01","9,83","0,395","0,204","0,401"
203,Tonga,OCEANIA,114689,748,"153,3","56,02",0,"12,62",2200.0,"98,5","97,7","23,61","43,06","33,33",2,"25,37","5,28","0,23","0,27","0,5"
204,Trinidad & Tobago,LATIN AMER. & CARIB,1065842,5128,"207,9","7,06","-10,83","24,31",9500.0,"98,6","303,5","14,62","9,16","76,22",2,"12,9","10,57","0,007","0,57","0,423"
205,Tunisia,NORTHERN AFRICA,10175014,163610,"62,2","0,70","-0,57","24,77",6900.0,"74,2","123,6","17,86","13,74","68,4",3,"15,52","5,13","0,132","0,318","0,55"
206,Turkey,NEAR EAST,70413958,780580,"90,2","0,92",0,"41,04",6700.0,"86,5","269,5","30,93","3,31","65,76",3,"16,62","5,97","0,117","0,298","0,585"
207,Turkmenistan,C.W. OF IND. STATES,5042920,488100,"10,3","0,00","-0,86","73,08",5800.0,"98,0","74,6","3,72","0,14","96,14",1,"27,61","8,6","0,209","0,38","0,411"
208,Turks & Caicos Is,LATIN AMER. & CARIB,21152,430,"49,2","90,47","11,68","15,67",9600.0,"98,0","269,5","2,33",0,"97,67",2,"21,84","4,21",NaN,NaN,NaN
209,Tuvalu,OCEANIA,11810,26,"454,2","92,31",0,"20,03",1100.0,NaN,"59,3",0,0,100,2,"22,18","7,11","0,166","0,272","0,562"
210,Uganda,SUB-SAHARAN AFRICA,28195754,236040,"119,5","0,00",0,"67,83",1400.0,"69,9","3,6","25,88","10,65","63,47",2,"47,35","12,24","0,311","0,222","0,469"
211,Ukraine,C.W. OF IND. STATES,46710816,603700,"77,4","0,46","-0,39","20,34",5400.0,"99,7","259,9","56,21","1,61","42,18",3,"8,82","14,39","0,187","0,452","0,361"
212,United Arab Emirates,NEAR EAST,2602713,82880,"31,4","1,59","1,03","14,51",23200.0,"77,9","475,3","0,6","2,25","97,15",1,"18,96","4,4","0,04","0,585","0,375"
213,United Kingdom,WESTERN EUROPE,60609153,244820,"247,6","5,08","2,19","5,16",27700.0,"99,0","543,5","23,46","0,21","76,33",3,"10,71","10,13","0,005","0,237","0,758"
214,United States,NORTHERN AMERICA,298444215,9631420,"31,0","0,21","3,41","6,5",37800.0,"97,0","898,0","19,13","0,22","80,65",3,"14,14","8,26","0,01","0,204","0,787"
215,Uruguay,LATIN AMER. & CARIB,3431932,176220,"19,5","0,37","-0,32","11,95",12800.0,"98,0","291,4","7,43","0,23","92,34",3,"13,91","9,05","0,093","0,311","0,596"
216,Uzbekistan,C.W. OF IND. STATES,27307134,447400,"61,0","0,00","-1,72","71,1",1700.0,"99,3","62,9","10,83","0,83","88,34",1,"26,36","7,84","0,342","0,229","0,43"
217,Vanuatu,OCEANIA,208869,12200,"17,1","20,72",0,"55,16",2900.0,"53,0","32,6","2,46","7,38","90,16",2,"22,72","7,82","0,26","0,12","0,62"
218,Venezuela,LATIN AMER. & CARIB,25730435,912050,"28,2","0,31","-0,04","22,2",4800.0,"93,4","140,1","2,95","0,92","96,13",2,"18,71","4,92","0,04","0,419","0,541"
219,Vietnam,ASIA (EX. NEAR EAST),84402966,329560,"256,1","1,05","-0,45","25,95",2500.0,"90,3","187,7","19,97","5,95","74,08",2,"16,86","6,22","0,209","0,41","0,381"
220,Virgin Islands,LATIN AMER. & CARIB,108605,1910,"56,9","9,84","-8,94","8,03",17200.0,NaN,"652,8","11,76","2,94","85,3",2,"13,96","6,43","0,01","0,19","0,8"
221,Wallis and Futuna,OCEANIA,16025,274,"58,5","47,08",NaN,NaN,3700.0,"50,0","118,6",5,25,70,2,NaN,NaN,NaN,NaN,NaN
222,West Bank,NEAR EAST,2460492,5860,"419,9","0,00","2,98","19,62",800.0,NaN,"145,2","16,9","18,97","64,13",3,"31,67","3,92","0,09","0,28","0,63"
223,Western Sahara,NORTHERN AFRICA,273008,266000,"1,0","0,42",NaN,NaN,NaN,NaN,NaN,"0,02",0,"99,98",1,NaN,NaN,NaN,NaN,"0,4"
224,Yemen,NEAR EAST,21456188,527970,"40,6","0,36",0,"61,5",800.0,"50,2","37,2","2,78","0,24","96,98",1,"42,89","8,3","0,135","0,472","0,393"
225,Zambia,SUB-SAHARAN AFRICA,11502010,752614,"15,3","0,00",0,"88,29",800.0,"80,6","8,2","7,08","0,03","92,9",2,41,"19,93","0,22","0,29","0,489"
226,Zimbabwe,SUB-SAHARAN AFRICA,12236805,390580,"31,3","0,00",0,"67,69",1900.0,"90,7","26,8","8,32","0,34","91,34",2,"28,01","21,84","0,179","0,243","0,579"

In [10]:
# Apply some styling to the data frame

countries_df = countries_df[["Country", "Population", "GDP ($ per capita)"]].copy()
countries_df["GDP ($ per capita)"] = countries_df["GDP ($ per capita)"].map("${:,.2f}".format)
countries_df["Population"] = countries_df["Population"].map("{:,.2f}".format)
countries_df.head(10)

              Country     Population GDP ($ per capita)
0        Afghanistan   31,056,997.00            $700.00
1            Albania    3,581,655.00          $4,500.00
2            Algeria   32,930,091.00          $6,000.00
3     American Samoa       57,794.00          $8,000.00
4            Andorra       71,201.00         $19,000.00
5             Angola   12,127,071.00          $1,900.00
6           Anguilla       13,477.00          $8,600.00
7  Antigua & Barbuda       69,108.00         $11,000.00
8          Argentina   39,921,833.00         $11,200.00
9            Armenia    2,976,372.00          $3,500.00

In [11]:
# Clean the data of the Olypmic data to focus on countries that won medals
# Igore the ones that no none as it will not coorelate to GDP
# Drop the NAN values from medals/country data frame


country_medals_df = athlete_events_noc_df
country_medals_df = country_medals_df.dropna()
country_medals_df.head()

   Sex  NOC                      Sport   Medal Country
8    M  CHN  Short Track Speed Skating  Silver   China
10   M  CHN  Short Track Speed Skating  Bronze   China
11   M  CHN  Short Track Speed Skating  Bronze   China
12   F  CHN                   Softball  Silver   China
17   F  CHN                 Basketball  Bronze   China

In [12]:
list(country_medals_df)

['Sex', 'NOC', 'Sport', 'Medal', 'Country']

In [13]:
# Group by both country and medal
 
g_country_medal_df = country_medals_df.groupby(["Country", "Medal"])

g_country_medal_df.head()

       Sex  NOC                      Sport   Medal        Country
8        M  CHN  Short Track Speed Skating  Silver          China
10       M  CHN  Short Track Speed Skating  Bronze          China
11       M  CHN  Short Track Speed Skating  Bronze          China
12       F  CHN                   Softball  Silver          China
17       F  CHN                 Basketball  Bronze          China
33       F  CHN                    Fencing  Silver          China
41       F  CHN                 Gymnastics  Silver          China
53       F  CHN                   Swimming  Bronze          China
63       F  CHN        Rhythmic Gymnastics  Silver          China
68       M  CHN                   Shooting    Gold          China
77       M  CHN                  Badminton    Gold          China
87       F  CHN              Weightlifting    Gold          China
104      M  CHN                     Diving    Gold          China
105      M  CHN                     Diving    Gold          China
106      M  CHN                     Diving  Bronze          China
5142     M  DEN                 Tug-Of-War    Gold        Denmark
5152     M  DEN                 Gymnastics    Gold        Denmark
5159     M  DEN                     Rowing    Gold        Denmark
5162     M  DEN                   Football    Gold        Denmark
5166     M  DEN                  Wrestling  Bronze        Denmark
5171     F  DEN                   Handball    Gold        Denmark
5172     F  DEN                     Rowing  Bronze        Denmark
5179     M  DEN                 Gymnastics  Bronze        Denmark
5186     M  DEN                 Gymnastics  Silver        Denmark
5196     M  DEN                   Canoeing  Silver        Denmark
5201     F  DEN                   Swimming  Silver        Denmark
5218     M  DEN                 Gymnastics  Bronze        Denmark
5239     M  DEN                   Football  Silver        Denmark
5243     M  DEN                   Shooting  Bronze        Denmark
5247     M  DEN                 Gymnastics  Silver        Denmark
...     ..  ...                        ...     ...            ...
268292   F  TPE                    Archery  Bronze         Taiwan
268304   F  TPE                  Taekwondo    Gold         Taiwan
268324   F  TPE              Weightlifting  Bronze         Taiwan
268383   F  TPE                  Athletics  Bronze         Taiwan
268386   F  TPE                  Taekwondo  Bronze         Taiwan
268430   M  TPE                  Taekwondo    Gold         Taiwan
268521   F  TPE              Weightlifting    Gold         Taiwan
269286   M  MKD                  Wrestling  Bronze      Macedonia
269546   M  TGA                     Boxing  Silver          Tonga
269641   M  LIE              Alpine Skiing  Bronze  Liechtenstein
269648   M  LIE              Alpine Skiing  Bronze  Liechtenstein
269749   F  LIE              Alpine Skiing  Bronze  Liechtenstein
269885   M  LIE              Alpine Skiing  Silver  Liechtenstein
269887   M  LIE              Alpine Skiing  Bronze  Liechtenstein
269893   F  LIE              Alpine Skiing  Bronze  Liechtenstein
269894   F  LIE              Alpine Skiing  Silver  Liechtenstein
269895   F  LIE              Alpine Skiing    Gold  Liechtenstein
269896   F  LIE              Alpine Skiing    Gold  Liechtenstein
269916   F  MNE                   Handball  Silver     Montenegro
269922   F  MNE                   Handball  Silver     Montenegro
269925   F  MNE                   Handball  Silver     Montenegro
269928   F  MNE                   Handball  Silver     Montenegro
269953   F  MNE                   Handball  Silver     Montenegro
270328   M  BDI                  Athletics    Gold        Burundi
270334   F  BDI                  Athletics  Silver        Burundi
270486   M  VIE              Weightlifting  Silver        Vietnam
270492   M  VIE                   Shooting    Gold        Vietnam
270493   M  VIE                   Shooting  Silver        Vietnam
270596   F  VIE                  Taekwondo  Silver        Vietnam
270693   F  KOS                       Judo    Gold         Kosovo

[1268 rows x 5 columns]

In [14]:
# Perform a count of medal's / country by grouping data
# g in g_country_medal_df means "group"
g_country_medal_df.count()

                              Sex   NOC  Sport
Country              Medal
Afghanistan          Bronze     2     2      2
Algeria              Bronze     8     8      8
                     Gold       5     5      5
                     Silver     4     4      4
Argentina            Bronze    91    91     91
                     Gold      91    91     91
                     Silver    92    92     92
Armenia              Bronze     9     9      9
                     Gold       2     2      2
                     Silver     5     5      5
Australia            Bronze   522   522    522
                     Gold     368   368    368
                     Silver   459   459    459
Austria              Bronze   156   156    156
                     Gold     108   108    108
                     Silver   186   186    186
Azerbaijan           Bronze    25    25     25
                     Gold       7     7      7
                     Silver    12    12     12
Bahamas              Bronze    15    15     15
                     Gold      14    14     14
                     Silver    11    11     11
Bahrain              Bronze     1     1      1
                     Gold       1     1      1
                     Silver     1     1      1
Barbados             Bronze     1     1      1
Belarus              Bronze    71    71     71
                     Gold      24    24     24
                     Silver    44    44     44
Belgium              Bronze   173   173    173
...                           ...   ...    ...
UK                   Gold     678   678    678
                     Silver   739   739    739
USA                  Bronze  1358  1358   1358
                     Gold    2638  2638   2638
                     Silver  1641  1641   1641
Uganda               Bronze     2     2      2
                     Gold       2     2      2
                     Silver     3     3      3
Ukraine              Bronze   100   100    100
                     Gold      47    47     47
                     Silver    52    52     52
United Arab Emirates Bronze     1     1      1
                     Gold       1     1      1
Uruguay              Bronze    30    30     30
                     Gold      31    31     31
                     Silver     2     2      2
Uzbekistan           Bronze    17    17     17
                     Gold      10    10     10
                     Silver     7     7      7
Venezuela            Bronze    10    10     10
                     Gold       2     2      2
                     Silver     3     3      3
Vietnam              Gold       1     1      1
                     Silver     3     3      3
Virgin Islands, US   Silver     1     1      1
Zambia               Bronze     1     1      1
                     Silver     1     1      1
Zimbabwe             Bronze     1     1      1
                     Gold      17    17     17
                     Silver     4     4      4

[327 rows x 3 columns]

In [15]:
# Bronze, Silver, Gold into  data frame by count of medals
bsg_grouped = g_country_medal_df.count()

In [16]:
# View the Bronze, Silver, Gold data frame
bsg_grouped.head()

                    Sex  NOC  Sport
Country     Medal
Afghanistan Bronze    2    2      2
Algeria     Bronze    8    8      8
            Gold      5    5      5
            Silver    4    4      4
Argentina   Bronze   91   91     91

In [17]:
# Joining the two data frames between Bronze,Silver, Gold Grouped and GDP Data
join_gdp = pd.merge(bsg_grouped, countries_df, on="Country", how='outer')

In [18]:
join_gdp = join_gdp.sort_values(["Country","GDP ($ per capita)"], ascending=True)
join_gdp.head()

          Country  Sex  NOC  Sport     Population GDP ($ per capita)
0     Afghanistan  2.0  2.0    2.0            NaN                NaN
327  Afghanistan   NaN  NaN    NaN  31,056,997.00            $700.00
328      Albania   NaN  NaN    NaN   3,581,655.00          $4,500.00
1         Algeria  8.0  8.0    8.0            NaN                NaN
2         Algeria  5.0  5.0    5.0            NaN                NaN

In [19]:
join_gdp = join_gdp.rename(columns={"Sport":"Total_Medals"})

In [20]:
join_gdp = join_gdp.drop(columns=['Sex', 'NOC'])
join_gdp.head(10)

             Country  Total_Medals     Population GDP ($ per capita)
0        Afghanistan           2.0            NaN                NaN
327     Afghanistan            NaN  31,056,997.00            $700.00
328         Albania            NaN   3,581,655.00          $4,500.00
1            Algeria           8.0            NaN                NaN
2            Algeria           5.0            NaN                NaN
3            Algeria           4.0            NaN                NaN
329         Algeria            NaN  32,930,091.00          $6,000.00
330  American Samoa            NaN      57,794.00          $8,000.00
331         Andorra            NaN      71,201.00         $19,000.00
332          Angola            NaN  12,127,071.00          $1,900.00

In [21]:
# Trying to join the rows on country and keeping the values
# This is NOT WORKING 
join_gdp.groupby('Country')[['Total_Medals', 'Population', 'GDP ($ per capita)']].first().reset_index()

                   Country  Total_Medals      Population GDP ($ per capita)
0              Afghanistan           2.0             NaN                NaN
1             Afghanistan            NaN   31,056,997.00            $700.00
2                 Albania            NaN    3,581,655.00          $4,500.00
3                  Algeria           8.0             NaN                NaN
4                 Algeria            NaN   32,930,091.00          $6,000.00
5          American Samoa            NaN       57,794.00          $8,000.00
6                 Andorra            NaN       71,201.00         $19,000.00
7                  Angola            NaN   12,127,071.00          $1,900.00
8                Anguilla            NaN       13,477.00          $8,600.00
9       Antigua & Barbuda            NaN       69,108.00         $11,000.00
10               Argentina          91.0             NaN                NaN
11              Argentina            NaN   39,921,833.00         $11,200.00
12                 Armenia           9.0             NaN                NaN
13                Armenia            NaN    2,976,372.00          $3,500.00
14                  Aruba            NaN       71,891.00         $28,000.00
15               Australia         522.0             NaN                NaN
16              Australia            NaN   20,264,082.00         $29,000.00
17                 Austria         156.0             NaN                NaN
18                Austria            NaN    8,192,880.00         $30,000.00
19              Azerbaijan          25.0             NaN                NaN
20             Azerbaijan            NaN    7,961,619.00          $3,400.00
21                 Bahamas          15.0             NaN                NaN
22           Bahamas, The            NaN      303,770.00         $16,700.00
23                 Bahrain           1.0             NaN                NaN
24                Bahrain            NaN      698,585.00         $16,900.00
25             Bangladesh            NaN  147,365,352.00          $1,900.00
26                Barbados           1.0             NaN                NaN
27               Barbados            NaN      279,912.00         $15,700.00
28                 Belarus          71.0             NaN                NaN
29                Belarus            NaN   10,293,011.00          $6,100.00
..                     ...           ...             ...                ...
333                Tuvalu            NaN       11,810.00          $1,100.00
334                     UK         651.0             NaN                NaN
335                    USA        1358.0             NaN                NaN
336                 Uganda           2.0             NaN                NaN
337                Uganda            NaN   28,195,754.00          $1,400.00
338                Ukraine         100.0             NaN                NaN
339               Ukraine            NaN   46,710,816.00          $5,400.00
340   United Arab Emirates           1.0             NaN                NaN
341  United Arab Emirates            NaN    2,602,713.00         $23,200.00
342        United Kingdom            NaN   60,609,153.00         $27,700.00
343         United States            NaN  298,444,215.00         $37,800.00
344                Uruguay          30.0             NaN                NaN
345               Uruguay            NaN    3,431,932.00         $12,800.00
346             Uzbekistan          17.0             NaN                NaN
347            Uzbekistan            NaN   27,307,134.00          $1,700.00
348               Vanuatu            NaN      208,869.00          $2,900.00
349              Venezuela          10.0             NaN                NaN
350             Venezuela            NaN   25,730,435.00          $4,800.00
351                Vietnam           1.0             NaN                NaN
352               Vietnam            NaN   84,402,966.00          $2,500.00
353        Virgin Islands            NaN      108,605.00         $17,200.00
354     Virgin Islands, US           1.0             NaN                NaN
355     Wallis and Futuna            NaN       16,025.00          $3,700.00
356             West Bank            NaN    2,460,492.00            $800.00
357        Western Sahara            NaN      273,008.00               $nan
358                 Yemen            NaN   21,456,188.00            $800.00
359                 Zambia           1.0             NaN                NaN
360                Zambia            NaN   11,502,010.00            $800.00
361               Zimbabwe           1.0             NaN                NaN
362              Zimbabwe            NaN   12,236,805.00          $1,900.00

[363 rows x 4 columns]